<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ytimg.com/vi/LylBOiwz9Ls/maxresdefault.jpg)">
  My Lists
</div>


<div>
<% @lists.each do |list| %>
<%= link_to list.name, list_path(list) %>
<% end %>
</div>
<%= link_to 'add a new list', new_list_path %>
